/* asdide */
.aside {
    width: 300px;
    height: 100%;
    background: var(--bg-black-100);
    /* background-color: var(--bg-black-aside); */
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
    transition: all 0.3s ease;
}

.aside__nav-list>li {
    list-style: none;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    position: relative;
    font-weight: 700;
    color: var(--text-black-900);
    /* color: var(--text-white-color); */
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    /* khoảng cách các chữ */
}

.aside .logo a span {
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.logo img {
    background-size: 100%;
    height: 150px;
    /* border-radius: 50%; */
    margin-top: -30px;
    position: relative;
}

.logo::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: -35px;
    right: -5px;
}

.logo::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 7px;
    left: -5px;
}

.aside .aside-name {
    font-size: 16px;
    position: absolute;
    top: 25%;
    font-weight: 700;
    color: var(--text-black-900);
}

.aside-social {
    display: flex;
    position: absolute;
    top: 29%;
}

.aside-social a {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    background-color: var(--skin-color);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.aside-social a i {
    color: white;
}

.aside-social a:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
}

.aside__nav-list {
    margin-top: 150px;
}

.aside__nav-list li {
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.aside__nav-list li a {
    font-size: 20px;
    font-weight: 500;
    display: block;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.aside__nav-list li a.active {
    color: var(--skin-color);
}

.aside__nav-list li a i {
    margin-right: 10px;
}

.aside.open {
    left: 0;
}

.toggler {
    position: fixed;
    height: 40px;
    width: 40px;
    left: 300px;
    z-index: 100;
    transition: all 0.3s ease;
    display: none;
}

.toggler.open {
    left: 300px;
}

.toggler i {
    color: var(--skin-color);
    padding: 30px 30px;
    font-size: 30px;
}

/* bside */
.main-content {
    padding-left: 300px;
    /* background-color: var(--bg-black-900); */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
}

.overlay.open {
    display: block;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    /* opacity: 1;
    position: fixed;
    left: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden; */
}

.section.back-section {
    z-index: 1;
}

.section.open {
    left: 300px;
}

/* .section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0%);
    }
} */

.home .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

/* home start */
.home {
    color: var(--text-black-900);
    min-height: 100vh;
    display: flex;
}

.home-info {
    margin-top: 60px;
}

h3.hello {
    font-size: 50px;
    margin: 15px 0;
}

h3.hello span {
    font-size: 60px;
    font-weight: 700;
    color: var(--skin-color);
    display: inline-block;
}

h3.my-profession {
    font-size: 60px;
    margin: 15px 0;
}

h3.my-profession span {
    color: var(--skin-color);
}

.home-info p {
    color: var(--text-black-700);
    font-size: 30px;
    margin-bottom: 70px;
    text-align: justify;
}

.home-img {
    text-align: center;
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: var(--skin-color);
    border-left: 100px solid var(--bg-black-900);
    margin-top: 60px;
}

.home-img img {
    position: absolute;
    height: 90%;
    padding: 10px 10px;
    background-color: #fff5ec;
    /* border-radius: 5px; */
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    background-size: 100%;
    background-size: contain;
    right: 10%;
    top: 5%;
}

.home .home-info a {
    /* position: absolute; */
}

.section .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    padding: 0 30px;
    /* flex: 0 0 100%; */
    margin-bottom: 60px;
}

.section-title h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    left: 0;
    top: 100%;
    background-color: var(--skin-color);
}

.section-title h2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    left: 0;
    top: 100%;
    background-color: var(--skin-color);
    margin-top: 8px;
}

.section-title h2 {
    font-size: 50px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

/* about start */
.about .about-content {
    padding: 0 30px;
    max-width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    /* flex: 0 0 100%;
    max-width: 100%; */
    padding: 0 15px;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-900);
}

.about .personal-info {
    /* background-color: red; */
    margin-top: 40px;
}

.about .personal-info .info-1 p,
.about .personal-info .info-2 p {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .personal-info .info-1 p span,
.about .personal-info .info-2 p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .personal-info .buttons {
    margin: 40px 0;
    /* position: absolute; */
}

.about .personal-info .buttons a {
    margin-right: 20px;
    /* position: absolute; */
}

/* skill */
.about .skills {
    /* background-color: green; */
    margin-top: 40px;
}

.skill-info {
    margin-bottom: 10px;
    margin-top: 10px;
}

.skill-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-img img {
    height: 50px;
    background-size: contain;
    background-size: 100%;
}

.skill-name {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-900);
}

/* skill 2 */
.about .about-content .skills .skill-item h5 {
    color: var(--text-black-900);
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    color: var(--text-black-900);
    font-weight: 400;
    right: 0;
    margin-top: -40px;
    line-height: 40px;
}

/* education */
.about .education,
.about .experience {
    margin-top: 30px;
}

.about .education .title,
.about .experience .title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circel-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    background-color: var(--skin-color);
    border-radius: 50%;
}

.about .about-content .timeline .timeline-item .timeline-date {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-item .timeline-date i {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-item .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-item .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* services */
.services .container {
    /* margin-bottom: 40px; */
}

.services .service-item {
    padding: 0 30px;
    margin-bottom: 30px;
}

.services .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    text-align: center;
    padding: 30px 15px;
    transition: all 0.4s ease;
}

.services .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.services .service-item .service-item-inner .icon {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 30px;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.services .service-item .service-item-inner .icon i {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.4s ease;
}

.services .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.services .service-item .service-item-inner:hover .icon i {
    font-size: 25px;
    color: #ffffff;
}

.services .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.services .service-item .service-item-inner p {
    color: var(--text-black-700);
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

/* portfolio */
.portfolio .container {
    padding-bottom: 40px;
}

.portfolio-heading {
    margin-bottom: 40px;
}

.portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-50);
    border-radius: 10px;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio .portfolio-item .portfolio-img img {
    border-radius: 5px;
    width: 100%;
    background-size: 100%;
    display: block;
    transition: all 0.4s ease;
}

.portfolio .portfolio-item:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(115%);
}


/* contact */
.contact-title,
.contact__title-sub {
    display: block;
    text-align: center;
}

.contact-title {
    color: var(--skin-color);
    font-size: 25px;
    margin-bottom: 20px
}

.contact__title-sub {
    color: var(--text-black-900);
    font-size: 15px;
    margin-bottom: 60px;
}

.contact__item .contact__item-icon {
    text-align: center;
    color: var(--skin-color);
    display: inline-block;
}

.contact__item-icon i {
    font-size: 25px;
    margin-bottom: 10px;
}

.contact__item h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.contact__item {
    text-align: center;
    margin-bottom: 60px;
}

.contact__item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 500;

}

.contact-input input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    margin-bottom: 40px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    color: var(--text-black-700);
    transition: all 0.4s ease;
}

.contact-input textarea {
    height: 120px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 0 10px 15px;
    outline: none;
    font-size: 16px;
    margin-bottom: 40px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.4s ease;
}

.contact-input input:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact-input textarea:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact-button .btn:hover {
    cursor: pointer;
}

.active-li a {
    color: var(--skin-color);
}